beautifulsoup4==4.9.3
fuzzywuzzy==0.18.0
keyboard==0.13.5
openai==0.28.0
pyjokes==0.6.0
pynput==1.7.5
pywhatkit==5.0
Requests==2.31.0
textblob==0.17.1
translate==3.6.1
wikipedia==1.4.0
wolframalpha==5.0.0
pyttsx3
